body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #00949a;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;
    opacity:0;

  .dot1{
    width:26px;
    height:32px;
    background: url(../images/pedal1.png);
    background-size: 100% 100%;
    transform: translate3d(0, 0, 0.1px);
    position:absolute;
  }

  .dot2{
    width:33px;
    height:28px;
    background: url(../images/pedal2.png);
    background-size: 100% 100%;
    transform: translate3d(0, 0, 0.1px);
    position:absolute;
  }

  .dot3{
    width:27px;
    height:23px;
    background: url(../images/pedal3.png);
    background-size: 100% 100%;
    transform: translate3d(0, 0, 0.1px);
    position:absolute;
  }

  .dot4{
    width:16px;
    height:33px;
    background: url(../images/pedal4.png);
    background-size: 100% 100%;
    transform: translate3d(0, 0, 0.1px);
    position:absolute;
  }

  .dot5{
    width:16px;
    height:20px;
    background: url(../images/pedal5.png);
    background-size: 100% 100%;
    transform: translate3d(0, 0, 0.1px);
    position:absolute;
  }

  .dot6{
    width:21px;
    height:15px;
    background: url(../images/pedal6.png);
    background-size: 100% 100%;
    transform: translate3d(0, 0, 0.1px);
    position:absolute;
  }

  #clouds-container{
    bottom:0;
    left:0;
    width: $banner-width;
    height:75px;
    overflow: hidden;
    position:absolute;

    #cloud1{
      width: 1200px;
      height:75px;
      //clip: rect(0px, 1581px, 30px, 0px);
      //opacity:0;
      position:absolute;
    }

    #cloud2{
      left:-600px;
      width: 900px;
      height:75px;
      //clip: rect(30px, 1581px, 50px, 0px);
      //opacity:0;
      position:absolute;
    }

    #cloud3{
      width: 600px;
      height:75px;
      //clip: rect(50px, 1581px, 123px, 0px);
      //opacity:0;
      position:absolute;

    }
  }

  #txt1{
    top:85px;
    left:0;
    opacity:0;
    position:absolute;
  }

  #txt2{
    top:70px;
    left:0;
    opacity:0;
    position:absolute;
  }

  #txt3{
    top:0;
    left:0;
    opacity:0;
    position:absolute;
  }

  #product{
    top:52px;
    left:0;
    opacity:0;
    position:absolute;
  }

  #cta{
    bottom:0;
    left:85px;
    //opacity:0;
    position:absolute;
  }

  #logo{
    top:3px;
    left:140px;
    transform: scale(.69) translate3d(0, 0, 0.1px);
    position:absolute;
  }

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }

    #border {
        border: 1px solid #ccc;
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 999;
    }

}
